
@import "helpers/helper";
@import "helpers/custom-mixins";
@import "helpers/custom-variables";


@media only screen and (min-width: 1200px) {

    .seasons {
        .fact-icon {
            width: 61%;
        }
    }
}

@media only screen and (max-width: 1199px) {

    .seasons {
        .fact-icon {
            width: 169px;
            padding: 30px 0px;
        }
    }

    #clients-home3.parallax .container .team .view p {
        font-size: 15px;
        padding: 0px 20px 20px;
        font-weight: 600;
    }
    .services-box{
        .img{
            width:100%;
        }
        .text {
            width:100%;
        }
    } 
    .map {
        margin-top: 80px;
        margin-left: -85px;
    }
    .why-us{
       
    }
    .why-us .action {
        margin: 15px auto;
        text-align: center;
    }
    
    
}

@media only screen and (max-width: 1025px) {

    .faq-top-img{
        h1 {
            font-size: 54px;
        }
    } 
}

@media only screen and (max-width: 1000px) {

    .top-well{
        padding: 50px 0px 50px 0px !important;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        max-width: 930px;
    }
    
    #clients-home3.parallax .container .team .view p {
        font-size: 14px;
        padding: 0px 20px 20px;
        font-weight: 600;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .quote-request-form .info-icon{
        padding: 17px 32px 15px 25px;
        margin-top: 20px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 750px;
    }

    .container-slide {
        .codrops-header {
            .heading{
                h1 {
	                font-size: 40px;
                    span {
                    }
                }
        
                p{
                    &.promo{
	                    font-size: 20px;
                    }
                }
            }
        }
    }

    .section-images {
        img{
             width:100%;
        }
        .veteran{
            margin-top:25px;
        }
    }

    .services-box{
        .img{
            width:100%;
        }
        .text {
            width:100%;
        }
    } 

    .testimonial-footer-bg .well .testimonial-title-right{
        border-right:none;
    }

    footer .top-footer-in {
        padding-top: 25px;
        padding-bottom: 25px;
    }


    footer .top-footer-in .col-md-3{
	    width: 49%;
        float: left;
        padding-left: 30px;
    }

    /*Page Home 3*/
    .bt-serv {display: none;}
    .home3-city-bg .txt-circle-content {width: 100%;}
    .home3-city-bg .fact-icon {width: 13%;}

    /*About*/
    .list-inline>li {padding-right: 0;}
    .about-box-horizontal {
	    float: left;
        width: 60%;
    }
    .box-horizontal-img {
	    float: left;
        width: 40%;
    }

    /*About 2*/
    .about2-top-title {font-size: 48px;}

    /*About 3*/
    .about3-team {
	    width: 49%;
        margin-bottom: 30px;
    }
    .about3-top-title {font-size: 24px;}
    .about3-top-title .color-txt {
        font-size: 42px;
    }


    .faq-top-img {
        height: 300px;
    }

    .page-nofound{
        .error-404 {
            font-size: 180px;
        }
    } 

}

@media only screen and (max-width: 766px) {
    .scroll-menu{
        &.collapse.in{
            position: absolute;
            top: $header-height - 4px !important;
            left: 0px;
            right: auto;
            padding: 0;
            .navbar-nav {
                width: 100%;
                > li.nav-item{
                    position: relative;
                    display: block;
                    background-color: $white-base;
                    border-bottom: 1px solid $gray-lighter;
                    width: 100%;
                    margin-left:0;
                   >  a{
                        color: $black;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-weight: 300;
                        padding: 10px 15px;
                        display: inline-block;
                        width: 100%;
                        &:hover, &:focus{
                            color: $blue;
                        }
                    }
                }
                .megamenu{
                    margin-top: 57px;
                }
            }
        }
    }
}

@media only screen and (max-width: 740px) {
    
    .navbar .container {
	    padding-right: 0;
	    padding-left: 0;
    }
	
    .container-slide {
        height: 390px;
    }

    .info-footer .col-sm-4 {
	    float: left;
        font-size: 12px;
    }

    /*Page Home 3*/
    #clients-home3.parallax-texture {height: auto;}
    #clients-home3 .team-img {
        width: 40%;
        float: none;
        text-align: center;
        margin: 20px auto;
    }

    .box-services {
	    margin-bottom: 30px;
	    float: left;
    }

    .page-nofound{
        .error-404 {
            font-size: 160px;	
        }
    } 
}

@media only screen and (max-width: 670px) {

    .container-slide {
        height: 320px;
        .codrops-header {
            .heading{
                max-width:80%;
                margin-top:25px;
                padding: 25px 10px;
                h1 {
                    span {
                    }
                }
        
                p{
                    &.promo{
                        line-height:25px;
                    }
                }
            }
        }
    }

    .paral-logo {
        width: 35%;
        float: left;
    }
    .hero-index-2,.hero-index-1,.hero-index-3 {
	    width: 350px;
        height: 248px;
        margin-left: 15%;
    }
    .row-box ul.clients li {margin-right: 0;}
    .info-footer .col-sm-4 {
	    float: left;
        font-size: 11px;
    }

    /*Page Home 3*/
    .home3-city-bg .fact-icon {width: 17%;}
    .work-home3 #cbp-vm ul li {width: 49%;}
    #clients-home3.parallax-texture {height: auto;}
    #clients-home3 .team-img {
        width: 40%;
        float: none;
        text-align: center;
        margin: 20px auto;
    }

    .page-nofound .error-404 {font-size: 130px;}

}

@media only screen and (max-width: 543px) {
    .portfolio .effect-5 .filter-button-top .filter li {
        margin-right: 2px;
        padding: 5px 10px;
    }
    .why-item {
        text-align: center;
        display: inline-block;
        .why-item-icon {
            margin: 0px auto 25px;
            transform: translateX(37%);
        }
    }
}

@media only screen and (max-width: 480px) {

    .container-slide {height: 300px;}
    .filter li {
	    padding: 5px 10px;
	    font-size: 11px;
    }

    footer .top-footer-in .col-md-3 {width: 100%;}
    .info-footer {
	    text-align: left;
	    font-size: 11px;
    }

    /*Page Home 3*/
    .home3-city-bg .fact-icon span {font-size: 30px;}
    .home3-city-bg .fact-icon {width: 24%;}
    .work-home3 #cbp-vm ul li {width: 100%;}
    #clients-home3 .team-img {
	    width: 40%;
	    margin: 0 auto;
        float: none;
    }
    #clients-home3.parallax-texture {height: auto;}
    .owl-carousel .owl-item {padding: 40px 0px;}
    .testimon-desc {width: 100%;}


    .faq-top-img {
        height: 200px;
    }

    .box-services {
	    margin-bottom: 30px;
	    float:left;
    }


    /*Page 404*/
    .page-nofound {
        .error-404 {
            font-size: 90px;
        }
    }

    .map {
        margin-top: 80px;
        margin-left: -411px;
    }
}

@media only screen and (max-width: 430px) {
    
    .container-slide {
        height: 320px;
        .codrops-header {
            .heading{
                max-width:80%;
                margin-top:25px;
                padding: 25px 10px;
                h1 {
                    font-size:30px;
                    span {
                    }
                }
        
                p{
                    &.promo{
                        line-height:35px;
                    }
                }
            }
        }
    }

    .portfolio .effect-5 .filter-button-top .filter li {
        margin: 5px 15px;
        padding: 5px 10px;
        display: block;
    }

    .home5-advert {width: 90%;}
    .paral-logo {width: 100%;}
    .home5-advert p {font-size: 16px;}
    .home5-portfolio .activegrid ul li {width: 100%;}
    .filter li {
        padding: 5px 6px;
        font-size: 11px;
    }

    footer .top-footer-in .col-md-3 {width: 100%;}

    /*Page Home 3*/
    .home3-city-bg .fact-icon {padding: 19px 3px 19px 3px;}
    /*Page Meet Team*/
    .about-top-title {font-size: 26px;}
}

@media only screen and (max-width: 320px) {
    .navbar-brand img{margin-left: -11px;}
    ul.menu-items li.menu-item{border-right: 0;}  
    .container-slide {height: 250px;}
    .filter li {
        padding: 5px 3px;
        font-size: 11px;
        margin-right: 0;
    }
    /*Page home 3*/
    .home3-city-bg .fact-icon {display: none;}
    .testimon-desc {padding: 0;}
    .home3-bt-footer-bg .testimon-desc p {font-size: 16px;}

    /*Page 404*/
    .page-nofound {
        .error-404 {
            font-size: 70px;
        }
    }
}