<footer>
    <div class="footer-background"></div>
    <div class="container copyright">
        <div class="col-xs-12">
            <img src="../img/footer/w3certified.png" alt="w3c certified" class="img-sm"/>
            <img src="../img/footer/Adobe.png" alt="adobe certified" class="img-sm" />
            <img src="../img/footer/vosb-logo.png" alt="veteran owned business" class="img-sm"/>
            <img src="../img/footer/Microsoft.png" alt="microsoft certified" class="img-sm"/>
            <img src="../img/footer/sba-logo.png" alt="small business certified" class="img-sm"/>
        </div>
    </div>
    <div class="col-xs-12 footer-menu">
        <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
                <li class="menu-item">
                    <a href="http://www.lotusmarketingsolutions.com/terms-of-use/">Terms of Use</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.lotusmarketingsolutions.com/privacy-policy/">Privacy Policy</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.lotusmarketingsolutions.com/return-policy/">Return Policy</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.lotusmarketingsolutions.com/sitemap/">Sitemap</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
