
<div class="404 top-img">
    <div class="effect-over"></div>
    <div class="container">
        <div class="col-xs-12 page-nofound">
            <p class="error-404">OOPS...</p>

        </div>
    </div>
</div>

<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li class="active">404</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">404
                <small>Page Not Found</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 page-nofound">
            <p>The 404 or Not Found error message is an HTTP standard response code indicating that the client was able to communicate with a given server, but the server could not find what was requested.</p>

            <p class="lead">The page you're looking for could not be found. Let's go back to the <a href="/">home page.</a></p>            
        </div>
    </div>
</div>

