<!-- Page Content -->
<div class="container-fluid">
    <div class="rev_slider_wrapper">
        <div id="aboutSlider" class="rev_slider" data-version="5.0">
            <ul>
                <li
                    data-transition="slideup" 
                    data-fstransition="fade" 
                    data-fsmasterspeed="1500" 
                    data-fsslotamount="7" 
                    data-saveperformance="off" 
                    data-title="Beautiful Web Design" 
                    data-description="" >
                    <div class="rs-background-video-layer" 
                         data-forcerewind="on" 
                         data-volume="mute" 
                         data-ytid="T8--OggjJKQ" 
                         data-videoattributes="version=3&enablejsapi=1&html5=1& hd=1&wmode=opaque&showinfo=0& ref=0;;origin=http://server.local;" 
                         data-videoogv="../video/Lotus_Marketing_Solutions.ogv" data-videowebm="../video/Lotus-Marketing-Solutions.mp4" data-videomp4="../video/lotus-marketing-solutions.mpeg" 
                         data-videorate="1.5" 
                         data-videowidth="100%" 
                         data-videoheight="100%" 
                         data-videocontrols="none" 
                         data-videostartat="00:10" 
                         data-videoendat="00:50" 
                         data-videoloop="loopandnoslidestop" 
                         data-forceCover="1" 
                         data-aspectratio="16:9" 
                         data-autoplay="true" 
                         data-autoplayonlyfirsttime="false" 
                         data-nextslideatend="true" 
                        ></div>
                    
                    <!-- LAYER NR. 1 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption tp-shape tp-shapewrapper hero-overlay" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','0','0']" 
                                     data-width="full" 
                                     data-height="full" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="s:300;s:300;" 
                                     data-start="750" 
                                     data-basealign="slide" 
                                     data-responsive_offset="on" 
                                     data-responsive="off"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- LAYER NR. 3 -->
                    <h1 class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-Title tp-resizeme hero-header" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','-48','-29']" 
                                     data-fontsize="['70','70','50','36']" 
                                     data-lineheight="['70','70','50','36']" 
                                     data-width="['none','none','754','none']" 
                                     data-height="none" 
                                     data-whitespace="['nowrap','nowrap','normal','nowrap']" 
                                     data-color="#fff"
                                     data-transform_idle="o:1;"
                                     data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="y:[100%];s:2190;e:Power2.easeInOut;s:2190;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:0px;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="990" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-end="4000" 
                                     data-responsive_offset="on">
                                     100% CUSTOMER SATISFACTION
                                </div>
                            </div>
                        </div>
                    </h1>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme"
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['51','52','28','13']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-color="#fff"
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:590;e:Power2.easeInOut;s:590;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="990" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on" 
                                     data-end="5600" >
                                     BECAUSE WE JUST LOVE WHAT WE DO
                                </div>
                            </div>
                        </div>
                    </div>
 
                    <!-- LAYER NR. 5 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-CallToAction rev-btn noSwipe rs-hover-ready" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['124','124','80','65']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" 
                                     data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(70, 109, 178, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;" 
                                     data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1250" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-actions='[{"event":"click",
                                       "action":"simplelink",
                                       "target":"_self",
                                       "url":"/quote-request"}]'
                                     data-responsive_offset="on" 
                                     data-responsive="off"
                                     style="z-index: 11;
                                        white-space: nowrap;
                                        letter-spacing: 1px;
                                        visibility: inherit;
                                        transition: none;
                                        border-radius: 0px;
                                        font-style: normal;
                                        text-decoration: none;
                                        border: 0px none rgb(0, 0, 0);
                                        line-height: 48px;
                                        margin: 0px;
                                        color:#fff;
                                        padding: 0px 40px;
                                        font-weight: 600;
                                        font-size: 16px;
                                        min-height: 0px;
                                        min-width: 0px;
                                        max-height: none;
                                        max-width: none;
                                        opacity: 1;
                                        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                        transform-origin: 50% 50% 0px;">
                                    I NEED THIS 
                                </div>
                            </div>
                        </div>
                    </div>
 
                </li>
            </ul>				
        </div>
    </div>
</div>

<div class="section-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="h1 section-title">Certified Web Designers &amp; Usability Experts</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 marbot20 text-center">
                <img src="../img/logos/LotusLogo.png" alt="web design">
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p>We are a team of web designers, graphic designers, and web marketing experts located in Harrisburg, Pennsylvania. Since the nature of our business is so flexible, we can conduct business outside of our local area, state, and even country as well. Whether you are a small independent business owner starting to brand a product or an established business or corporation, we can offer web design and web marketing services at an affordable and comfortable rate and payment plan.
                <br/><br/>  
                LOTUS Marketing Solutions LLC was founded by Ret. US Army Ranger Luis Silva on 2011. What once started as a hobby to put in practice his education as a Software Engineer and web designer, soon became a 100% customer satisfaction freelancing Web Design Company. LOTUS’s unparalleled quality provided by its web designers and graphic designers, as well as customer service, soon gained the interest of many local businesses. Within a short period of time, LOTUS Marketing Solutions LLC grew to service businesses nationwide and overseas.
                <br/><br/>  
                In our endless efforts to grow and provide a flawless product we have added other services to our web design and marketing super store. We also offer branding services, web maintenance services, On-Page SEO, and more great services. Simply give us a call and we will discuss your needs and negotiate a solution that will be fitting to your marketing plans and budget.
               </p>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <h4 class="page-header">Our Vision</h4>
                <ul>
                    <li>To be the most trusted, and leading digital marketing &amp; web design company at the forefront of a new era in human engagement.</li>
                    <li>To lead both new and standing businesses to new grounds and the pinnacle of success.</li>
                    <li>To maximize client input, long-term relationships, and partnerships that will guarantee services equal to none.</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 about3-skill">
                <h4 class="page-header">Our Mission</h4>
                <ul>
                    <li>To improve by inspiring and stimulating business owners to achieve their goals and by offering the binding catalyst between them and their consumers.</li>
                    <li>To help our clients succeed in associating with their communities of interest through our ability to provide integrated marketing solutions, and our insight into consumer behavior.</li>
                    <li>To service selflessly and with a consumers-first attitude, thus passing along the ideology that customer service continues to be the strongest ally to a solid organization of service.</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <h4 class="page-header">Core Values</h4>
                <ul>
                    <li><strong>Commitment</strong> – We are bound professionally and wholeheartedly to our relationship with our clients. 100% customer satisfaction is always a goal.</li>
                    <li><strong>Consideration</strong> – We believe everyone deserves a fighting chance. Large or small, we can service any business equally.</li>
                    <li><strong>Concern</strong> – Our client’s needs and concerns are our needs and concerns. No one will take care of your company’s name as we will.</li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <h3 class="h1 section-title">Some Of Our Valuable Clients</h3>
            </div>
        </div>
        
        <div class="row clients">

            <div class="col-xs-6 col-sm-4 col-md-2">
                <img class="img-responsive img-customer" src="../img/logos/FCI-sm.png">
            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
                <img class="img-responsive img-customer" src="../img/logos/kcr.png">
            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
                <img class="img-responsive img-customer" src="../img/logos/CentralPennBuySell.png" alt="YATB">
            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
                <img class="img-responsive img-customer" src="../img/logos/Modern-Vintage.jpg">
            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
                <img class="img-responsive img-customer" src="../img/logos/PDdresses-sm.png">
            </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
                <img class="img-responsive img-customer" src="../img/logos/TeamBalanceHBG.png">
            </div>


        </div>

    </div>
</div>
