
<div class="about top-img">
    <div class="effect-over"></div>
    <div class="container">
        <div class="col-xs-12">
            <h1 class="title">To get extraordinary <span class="color-txt">results</span>,</h1>
            <h1 class="top-title top-second">you need <span class="color-txt">extraordinary </span>help.</h1>
            <div class="buy-button"><a class="btn btn-lg btn-primary" href="#">Call now! </a></div>
        </div>
    </div>
</div>

<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="section-title page-header text-center"><span>ABOUT THE OWNER</span></h2>
        </div>

        <div class="col-xs-12 text-center about-team">
            <img class="img-responsive" src="../images/team/user1.jpg" alt="Nick Hawkings" />
            <div class="desc">
                <h3>Nick Hawkings</h3>
            </div>
        </div>

        <div class="col-xs-12 text-center about-team">
            <p class="sub-title">
                Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h2 class="page-header">Our Mission</h2>
            <ul>
                <li>To provide inspiring and stimulating result that enhance the value of the property.</li>
                <li>To help our clients reduce cost with premium services and minimized overhead.</li>
                <li>To service selflessly and with a consumers-first attitude; demonstrating the principles of customer service excellence.</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 about3-skill">
            <h2 class="page-header">Our Vision</h2>
            <ul>
                <li>To be the most trusted, and leading lawn care &amp; home improvement company in Central Pennsylvania.</li>
                <li>To aid new and growing property owners get outstanding results and value.</li>
                <li>To maximize long-term relationships with our clients that will guarantee services equal to none.</li>
            </ul>
        </div>
    </div>
    <!-- Our Customers -->

    <div class="row last-inf-dt">

        <div class="col-xs-12">
            <h2 class="page-header">Our Customers</h2>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-2">
            <img class="img-responsive img-customer" src="../images/about/clients/LOTUS.png">
        </div>

        <div class="col-xs-6 col-sm-4 col-md-2">
            <img class="img-responsive img-customer" src="../images/about/clients/HD.png">
        </div>

        <div class="col-xs-6 col-sm-4 col-md-2">
            <img class="img-responsive img-customer" src="../images/about/clients/YATB.png" alt="YATB">
        </div>

        <div class="col-xs-6 col-sm-4 col-md-2">
            <img class="img-responsive img-customer" src="../images/about/clients/logo-pennwaste.png">
        </div>

        <div class="col-xs-6 col-sm-4 col-md-2">
            <img class="img-responsive img-customer" src="../images/about/clients/ski-roundtop-logo.png">
        </div>

        <div class="col-xs-6 col-sm-4 col-md-2">
            <img class="img-responsive img-customer" src="../images/about/clients/SPCA.png">
        </div>


    </div>

</div>
<!-- /.container -->
<!--<script>
    jQuery(document).ready(function () {
        jQuery('.skillbar').each(function () {
            jQuery(this).find('.skillbar-bar').animate({
                width: jQuery(this).attr('data-percent')
            }, 6000);
        });
    });
</script>-->
