<!-- Page Content -->
<div class="container-fluid">
    <div class="rev_slider_wrapper">
        <div id="brandingSlider" class="rev_slider" data-version="5.0">
            <ul>
                <li
                    data-transition="slideup" 
                    data-fstransition="fade" 
                    data-fsmasterspeed="1500" 
                    data-fsslotamount="7" 
                    data-saveperformance="off" 
                    data-title="marketing Strategies" 
                    data-description="" >
                    <img src="../img/banner/marketing.png" alt="Web Marketing" width="1920" height="1080" 
                         data-bgposition="center center" 
                         data-bgfit="cover" 
                         data-bgrepeat="no-repeat" 
                         data-bgparallax="2"
                         class="rev-slidebg" 
                         data-no-retina >
                    
                    <!-- LAYER NR. 1 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption tp-shape tp-shapewrapper hero-overlay" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','0','0']" 
                                     data-width="full" 
                                     data-height="full" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="s:300;s:300;" 
                                     data-start="750" 
                                     data-basealign="slide" 
                                     data-responsive_offset="on" 
                                     data-responsive="off"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- LAYER NR. 3 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <h1 class="tp-caption NotGeneric-Title tp-resizeme hero-header" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','-48','-29']" 
                                     data-fontsize="['70','70','50','36']" 
                                     data-lineheight="['70','70','50','36']" 
                                     data-width="['none','none','754','none']" 
                                     data-height="none" 
                                     data-whitespace="['nowrap','nowrap','normal','nowrap']" 
                                     data-color="#fff"
                                     data-transform_idle="o:1;" 
                                     data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1000" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on">
                                     BRANDING DESIGN 
                                </h1>
                            </div>
                        </div>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme"
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['51','52','28','13']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-color="#fff"
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1000" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on">
                                     IMPRINT YOUR BRAND ON FIRST SIGHT 
                                </div>
                            </div>
                        </div>
                    </div>
 
                    <!-- LAYER NR. 5 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-CallToAction rev-btn noSwipe rs-hover-ready" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['124','124','80','65']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" 
                                     data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(70, 109, 178, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;" 
                                     data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1250" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-actions='[{"event":"click",
                                       "action":"simplelink",
                                       "target":"_self",
                                       "url":"/quote-request"}]'
                                     data-responsive_offset="on" 
                                     data-responsive="off"
                                     style="z-index: 11;
                                        white-space: nowrap;
                                        letter-spacing: 1px;
                                        visibility: inherit;
                                        transition: none;
                                        border-radius: 0px;
                                        font-style: normal;
                                        text-decoration: none;
                                        border: 0px none rgb(0, 0, 0);
                                        line-height: 48px;
                                        margin: 0px;
                                        color:#fff;
                                        padding: 0px 40px;
                                        font-weight: 600;
                                        font-size: 16px;
                                        min-height: 0px;
                                        min-width: 0px;
                                        max-height: none;
                                        max-width: none;
                                        opacity: 1;
                                        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                        transform-origin: 50% 50% 0px;">
                                    I NEED THIS 
                                </div>
                            </div>
                        </div>
                    </div>
 
                </li>
            </ul>				
        </div>
    </div>
</div>

<div class="section-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="h1 section-title">Something Your Clients Will Remember</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 marbot20 text-center">
                <img src="../img/branding.png" alt="branding design">
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p>A modern, crisp, and professional branding design is one of the most vital aspects of any business. This pertains primarily to your logo, but it goes further than that for companies who spend a considerable amount of effort in building a branding design around their product. Other items to consider when building a powerful branding design includes, but is not limited to: business cards, shopping bags, uniforms, stationary, give-aways, signs, posters, flyers, hats, car decals, and much more. Think of it like this – the more you display your brand your chances of other people remembering you will increase. They may not need you today, but they will remember you in a few months.
                <br/><br/>
                Also, your brand is a form of communication between you and your clients that tells them they can expect a professional product and service quality from your organization.
                <br/><br/>  
                Your branding design consist of a semantic and creative logo that individualizes your product or service. When using a professional and effective logo, your clients will be able to identify you among your competitors and associate your company with the quality of work they will receive from you. Once this is achieved, your product and services are invaluable.
                <br/><br/> 
                Defining your brand is probably the toughest part of building a branding design. The logo must be clearly visible from a distance even if it is small. The rule of thumb is, if you can’t see it in a bumper sticker from a car distance, it is probably too small. The branding design should consider that the logo could eventually be displayed in more than just the web – i.e. clothing, paper, neon lights, etc. For this reason, shading and crossing lines in a logo should be carefully considered as the embroidery needle is not able to do that or the neon light tubes may not be able to intercept that way.
               </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">        
                <h4>Keep In Mind Concerning Your Branding Design</h4>
                <ul class="list">
                    <li>Integrate the company’s mission in the brand.</li>
                    <li>Build around your product and name.</li>
                    <li>Consider a broad audience.</li>
                    <li>Consider it’s size and ensure it will be clear in small areas.</li>
                    <li>Keep it clean, scaleable, and versatile.</li>
                    <li>Consider all display areas and methods.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"> 
                <p>One of the biggest mistakes when creating a branding design, is overthinking the brand reperesentation, or in other words, the logo. If we pay attention to some of the largest and most successful corporations we can easily tell their logo is quite simple. Some of them are merely consisting of the name in a particular font and color. Keep in mind, you are NOT after the next Mona Lisa. You are building a brand that users can associate with without too much thinking efforts. It should take them less than 30 seconds to look at your logo and imprint it in their minds. We have found this article to be very helpful when educating yourself in branding design tips.
                <br/><br/> 
                Branding Design is directly related to Web Marketing. This form of Web Marketing lets your clients know you are a professional entity. You have taken the time to build a serious, professional, and responsible organization they can trust. If your logo has been outdated by the new age of design and high definition, we will certainly help you rebrand or optimize your existing logo to bring it back to life. Below you will find some of our most recent logos.</p>
            </div>
            
            <div id="brandingcarousel" class="col-xs-12">
                <div brandingcarousel id="owl-demo" class="owl-carousel">
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/ADR1.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/BankerTaylor.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/BDComputerServices.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/BJJ%20Fitness%20Academy.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/CentralPennBuySell.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/Genesis.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/HBGMMA.jpg" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/Hotels.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/Inversiones.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/kcr.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/Modern-Vintage.jpg" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/MyLaborAndMoving.jpg" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/nicksonsdark.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/PDdresses.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/RightChoiceBuilders.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/RJDairy.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/Shear-Magic.jpg" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/SpencerWilliams.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/TeamBalanceHBG.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/Thrifty-Elegance.png" alt="Logo"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/logos/YMMAA.png" alt="Logo"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3"> 
                <div class="text-center">
                    <a class="btn btn-primary" href="/quote-request"> Get A Quote </a>
                    <span class="btn btn-primary"> (717) 945-8132 </span>
                </div>
            </div>
        </div>

    </div>
</div>
