<!-- Page Content -->
<div class="container-fluid">
    <div class="rev_slider_wrapper">
        <div id="businessSlider" class="rev_slider" data-version="5.0">
            <ul>
                <li
                    data-transition="slideup" 
                    data-fstransition="fade" 
                    data-fsmasterspeed="1500" 
                    data-fsslotamount="7" 
                    data-saveperformance="off" 
                    data-title="Beautiful Web Design" 
                    data-description="" >
                    <img src="../img/banner/web-design.jpg" alt="Web Design" width="1920" height="1080" 
                         data-bgposition="center center" 
                         data-bgfit="cover" 
                         data-bgrepeat="no-repeat" 
                         data-bgparallax="2"
                         class="rev-slidebg" 
                         data-no-retina >
                    
                    <!-- LAYER NR. 1 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption tp-shape tp-shapewrapper hero-overlay" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','0','0']" 
                                     data-width="full" 
                                     data-height="full" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="s:300;s:300;" 
                                     data-start="750" 
                                     data-basealign="slide" 
                                     data-responsive_offset="on" 
                                     data-responsive="off"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- LAYER NR. 3 -->
                    <h1 class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-Title tp-resizeme hero-header" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','-48','-29']" 
                                     data-fontsize="['70','70','50','36']" 
                                     data-lineheight="['70','70','50','36']" 
                                     data-width="['none','none','754','none']" 
                                     data-height="none" 
                                     data-whitespace="['nowrap','nowrap','normal','nowrap']" 
                                     data-color="#fff"
                                     data-transform_idle="o:1;" 
                                     data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1000" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on">
                                    BUSINESS WEBSITE SOLUTION
                                </div>
                            </div>
                        </div>
                    </h1>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme"
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['51','52','28','13']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-color="#fff"
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1000" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on">
                                    LET YOUR WEBSITE DO THE WORK FOR YOU 
                                </div>
                            </div>
                        </div>
                    </div>
 
                    <!-- LAYER NR. 5 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-CallToAction rev-btn noSwipe rs-hover-ready" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['124','124','80','65']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" 
                                     data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(70, 109, 178, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;" 
                                     data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1250" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-actions='[{"event":"click",
                                       "action":"simplelink",
                                       "target":"_self",
                                       "url":"#/quote-request"}]'
                                     data-responsive_offset="on" 
                                     data-responsive="off"
                                     style="z-index: 11;
                                        white-space: nowrap;
                                        letter-spacing: 1px;
                                        visibility: inherit;
                                        transition: none;
                                        border-radius: 0px;
                                        font-style: normal;
                                        text-decoration: none;
                                        border: 0px none rgb(0, 0, 0);
                                        line-height: 48px;
                                        margin: 0px;
                                        color:#fff;
                                        padding: 0px 40px;
                                        font-weight: 600;
                                        font-size: 16px;
                                        min-height: 0px;
                                        min-width: 0px;
                                        max-height: none;
                                        max-width: none;
                                        opacity: 1;
                                        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                        transform-origin: 50% 50% 0px;">
                                    I NEED THIS 
                                </div>
                            </div>
                        </div>
                    </div>
 
                </li>
            </ul>				
        </div>
    </div>
</div>

<div class="section-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="h1 section-title">Showcase Your Business</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <img src="../img/events.png" alt="web design">
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p>A Business Website or Application is a very practical web platform for businesses who are looking for an automated way to do business such as Data Entry, Human Resources, and more. Business Website platforms are fully customized and built from the ground up to fit the business and brand. These sites come with a <a href="http://searchsoa.techtarget.com/definition/content-management-system" target="_blank">content management system (CMS)</a> to allow the website owner to store, modify, and retrieve the data being handled. If you are using our <a href="#/web-maintenance">web maintenance service</a>, we will ensure the website's code and content is fully updated separate from the CMS used for data entry storing.
                <br/><br/>   
                Have you ever wondered if your favorite shopping market had the item you have been looking for and you went online to find out? Have you looked up your pizza place online for their hours and delivery service instead of calling them? Or better yet, would you agree that it is easier to remember a business web address than their phone number? Of course! A business website does more for you than you can imagine.
                <br/><br/>  
                Regardless of how much you actually use your site as a business tool, you can use your business website to list your business in all search engines and online listings, save time by answering questions on a Q&amp;A rather than answering the phone constantly, educate your clients on current deals and events, and many more benefits.
                <br/><br/>  
                Providing flexibility for your customers will make a difference in your daily operations and your customer’s satisfaction alike. Some business operations can be done online. This reduces your customer’s foot traffic and allows you to plan your days around your walk-in clients. Not to mention, your customers will appreciate doing business with you from the comfort of their homes without exposing themselves to inclement weather, traffic congestions, or unnecessary fuel expenses. Why have them come in, when they can be your client at home through your personalized and fully customized business website? 
               </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">        
                <h4>These are some of the benefits of a business website</h4>
                <ul class="list">
                    <li>Make your business information readily available.</li>
                    <li>Educate your customers on deals and current services.</li>
                    <li>Promote and get referrals.</li>
                    <li>Use it as another form of contact by accepting emails.</li>
                    <li>Gather leads as they leave their information for you to use.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3"> 
                <div class="text-center">
                    <a class="btn btn-primary" href="#/quote-request"> Get A Quote </a>
                    <span class="btn btn-primary"> (717) 945-8132 </span>
                </div>
            </div>
        </div>

    </div>
</div>


<script>

    $('.filter li').on('click', function () {
        $('li').removeClass('active');
        $(this).addClass('active');
    });
    
    jQuery(document).ready(function() {		
       jQuery("#businessSlider").revolution({
            sliderType:"hero",
            sliderLayout:"fullwidth",
            autoHeight:"off",
            navigation : { 			
              onHoverStop:"off",
              touch:{ touchenabled:"off" },
              arrows: { enable:false },
              bullets: { enable:false },
              thumbnails: { enable:false },
              tabs: { enable:false }
            },
            parallax:{
               type:"on",
               levels:[5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85],
               origo:"slidercenter",
               speed:400,
               bgparallax:"on",
               disable_onmobile:"off"
            },
            fullScreenOffsetContainer:"#header",
            responsiveLevels:[4096,1024,778,480],
            gridwidth:[1200,991,768,480],
            gridheight:[600,600,980,700]		
        });	
    });	


</script>