
<div class="ang-map" ng-app="myApp" ng-controller="gMap">
  <ui-gmap-google-map 
    center='map.center' 
    zoom='map.zoom' aria-label="Google map">
    
    <ui-gmap-marker ng-repeat="marker in markers"
      coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
      <ui-gmap-window>
        <div>{{marker.window.title}}</div>
      </ui-gmap-window>
    </ui-gmap-marker>
    
  </ui-gmap-google-map>
</div>


<div class="container">
    <div class="row last-inf-dt">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <h1 class="contact-title">Let's Get In Touch!</h1>

            <p class="contact-sub-txt">Use the form below for any questions or inquiries you may have. If you are interested in an estimate or quote, use our <a href="#/quote-request">Quote Request</a> page.</p>

            <form id="contact-form" role="form" method="POST" action="#">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6">
                        <label for="input1">Name *</label>
                        <input type="text" name="contact_name" placeholder="e.g. Jhon Smith" class="form-control" id="name">
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6">
                        <label for="input1">Company Name</label>
                        <input type="text" name="contact_name" placeholder="e.g. Angu Studio" class="form-control" id="input5">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6">
                        <label for="input2">Email Address *</label>
                        <input type="email" name="contact_email" placeholder="e.g. mail@example.com" class="form-control" id="email">
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6">
                        <label for="input3">Phone Number</label>
                        <input type="phone" name="contact_phone" placeholder="e.g. 717-123-2345" class="form-control" id="input3">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-12">
                        <label for="input4">Message</label>
                        <textarea name="contact_message" class="form-control" rows="12" id="message"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-primary bt-contact-submit">Send</button>
                        <p class="success">Your message has been sent successfully.</p>

                        <p class="error">E-mail must be valid or message must be longer than 20 characters.</p>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 contact-details">
            <h2 class="contact-title">Contact Information</h2>

            <p><i class="fa fa-phone"></i> (717) 945-8132</p>

            <p><i class="fa fa-envelope-o"></i> <a href="mailto:feedback@angula.com">lotusms@outlook.com</a></p>


            <p><i class="fa fa-clock-o"></i> Monday - Friday: 9:00 AM to 5:00 PM</p>

            <p class="social">
                <span><a href="https://www.facebook.com/LOTUSMarketingSolutionsLLC/"><i class="fa fa-facebook"></i></a></span>
                <span><a href="https://twitter.com/LotusMarketingS"><i class="fa fa-twitter"></i></a></span>
                <span><a href="https://plus.google.com/116733669775024415866/posts"><i class="fa fa-google-plus"></i></a></span>
                <span><a href="https://www.linkedin.com/pub/lotus-marketing-solutions-llc/62/854/321"><i class="fa fa-linkedin"></i></a></span>
            </p>

        </div>
    </div>
</div>



<script type="text/javascript">
    /********************************************
    EMAIL CONTROL
    ********************************************/

    $(function () {
        "use strict";
        $('#contact-form').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var name = $("#name").val();
            var email = $("#email").val();
            var text = $("#message").val();
            var dataString = 'name=' + name + '&email=' + email + '&message=' + text;

            function isValidEmail(emailAddress) {
                var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
                return pattern.test(emailAddress);
            };
            
             if (isValidEmail(email) && (text.length > 20) && (name.length > 1)) {
                $.ajax({
                    type: 'POST',
                    url: "contact_form/contact_process.php",
                    data: dataString,
                    success: function () {
                        $('.success').fadeIn(1000);
                        $("#name").val("");
                        $("#email").val("");
                        $("#message").val("");
                    }
                });
            } else {
                $('.error').fadeIn(1000);
            }

        });
    });
    
    
</script>