<!-- Page Content -->
<div class="container-fluid">
    <div class="rev_slider_wrapper">
        <div id="economySlider" class="rev_slider" data-version="5.0">
            <ul>
                <li
                    data-transition="slideup" 
                    data-fstransition="fade" 
                    data-fsmasterspeed="1500" 
                    data-fsslotamount="7" 
                    data-saveperformance="off" 
                    data-title="Beautiful Web Design" 
                    data-description="" >
                    <img src="../img/banner/web-design.jpg" alt="Web Design" width="1920" height="1080" 
                         data-bgposition="center center" 
                         data-bgfit="cover" 
                         data-bgrepeat="no-repeat" 
                         data-bgparallax="2"
                         class="rev-slidebg" 
                         data-no-retina >
                    
                    <!-- LAYER NR. 1 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption tp-shape tp-shapewrapper hero-overlay" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','0','0']" 
                                     data-width="full" 
                                     data-height="full" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="s:300;s:300;" 
                                     data-start="750" 
                                     data-basealign="slide" 
                                     data-responsive_offset="on" 
                                     data-responsive="off"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- LAYER NR. 3 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <h1 class="tp-caption NotGeneric-Title tp-resizeme hero-header" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','-48','-29']" 
                                     data-fontsize="['70','70','50','36']" 
                                     data-lineheight="['70','70','50','36']" 
                                     data-width="['none','none','754','none']" 
                                     data-height="none" 
                                     data-whitespace="['nowrap','nowrap','normal','nowrap']" 
                                     data-color="#fff"
                                     data-transform_idle="o:1;" 
                                     data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1000" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on">
                                    ECONOMY WEBSITE SOLUTION
                                </h1>
                            </div>
                        </div>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme"
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['51','52','28','13']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-color="#fff"
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1000" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on">
                                    PERFECT FOR STARTING BUSINESSES 
                                </div>
                            </div>
                        </div>
                    </div>
 
                    <!-- LAYER NR. 5 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-CallToAction rev-btn noSwipe rs-hover-ready" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['124','124','80','65']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" 
                                     data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(70, 109, 178, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;" 
                                     data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1250" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-actions='[{"event":"click",
                                       "action":"simplelink",
                                       "target":"_self",
                                       "url":"#/quote-request"}]'
                                     data-responsive_offset="on" 
                                     data-responsive="off"
                                     style="z-index: 11;
                                        white-space: nowrap;
                                        letter-spacing: 1px;
                                        visibility: inherit;
                                        transition: none;
                                        border-radius: 0px;
                                        font-style: normal;
                                        text-decoration: none;
                                        border: 0px none rgb(0, 0, 0);
                                        line-height: 48px;
                                        margin: 0px;
                                        color:#fff;
                                        padding: 0px 40px;
                                        font-weight: 600;
                                        font-size: 16px;
                                        min-height: 0px;
                                        min-width: 0px;
                                        max-height: none;
                                        max-width: none;
                                        opacity: 1;
                                        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                        transform-origin: 50% 50% 0px;">
                                    I NEED THIS 
                                </div>
                            </div>
                        </div>
                    </div>
 
                </li>
            </ul>				
        </div>
    </div>
</div>

<div class="section-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="h1 section-title">Become Present In The Web</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <img src="../img/laptop-pro-2.png" alt="web design">
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p>Our economy website solution is a great starters package! Usually, new businesses struggle building and setting apart a budget for marketing, even when this is when they need it most. As they struggle to make a presence in their market, the battle against the competition becomes an obstacle. If you feel you are in a similar situation, the economy website solution package may be just what you need.
                <br/><br/>    
                With our economy website solution package you will give up many features and benefits that you would normally get in stronger solutions, but your company will be represented the right way, professionally, and beautifully! 
                <br/><br/>    
                You bought your initial equipment. You designed your business structure. You made your first dollar. But your competition seems to be getting all of the action. It doesn’t mean your product or services are not as good, it simply means they have been around long enough to be more popular than you. You need to make yourself present to shoppers as most likely, they are searching the Internet but you are not there. 
                <br/><br/>    
                Start by putting your business in the spotlight. Let them know you are another option and a great one too! We can help you showcase your business by re-using a set of pre-built designs or templates that will surely make a statement. Your customization will be limited but it will be a great foundation to build upon at a later time.
               </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">        
                <h4>These are some of the features of our economy website solutions </h4>
                <ul class="list">
                    <li>Mobile-friendly so your content will always look great on any screen size.</li>
                    <li>Marketing guided to fit any generic business idea.</li>
                    <li>Only the cosmetic features may be customized.</li>
                    <li>Simple and concise design that highlights what’s important.</li>
                    <li>Low Maintenance.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3"> 
                <div class="text-center">
                    <a class="btn btn-primary" href="#/quote-request"> Get A Quote </a>
                    <span class="btn btn-primary"> (717) 945-8132 </span>
                </div>
            </div>
        </div>

    </div>
</div>


<script>

    $('.filter li').on('click', function () {
        $('li').removeClass('active');
        $(this).addClass('active');
    });
    
    jQuery(document).ready(function() {		
       jQuery("#economySlider").revolution({
            sliderType:"hero",
            sliderLayout:"fullwidth",
            autoHeight:"off",
            navigation : { 			
              onHoverStop:"off",
              touch:{ touchenabled:"off" },
              arrows: { enable:false },
              bullets: { enable:false },
              thumbnails: { enable:false },
              tabs: { enable:false }
            },
            parallax:{
               type:"on",
               levels:[5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85],
               origo:"slidercenter",
               speed:400,
               bgparallax:"on",
               disable_onmobile:"off"
            },
            fullScreenOffsetContainer:"#header",
            responsiveLevels:[4096,1024,778,480],
            gridwidth:[1200,991,768,480],
            gridheight:[600,600,980,700]		
        });	
    });	


</script>