
<div class="container-fluid" data-ng-style="{'max-width':'1920px'}">
    <section class="content-section" data-ng-style="{'max-width':'1920px', 'margin':'0 auto'}">
        <!-- slider container -->
        <div class="rev_slider_wrapper jumbotron" style="background-color:#ddd;margin:0px auto;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- angular-revolution as attribute in div -->
            <div rev-slider
                 id="rev_slider"
                 class="rev_slider"
                 data-version="5.1.1RC"
                 slider-type="{{slider.sliderType}}"
                 slider-layout="{{slider.sliderLayout}}"
                 responsive-levels="{{slider.responsiveLevels}}"
                 gridwidth="{{slider.gridwidth}}"
                 gridheight="{{slider.gridheight}}"
                 auto-height="{{slider.autoHeight}}"
                 min-height="{{slider.minHeight}}"
                 full-screen-offset-container="{{slider.fullScreenOffsetContainer}}"
                 full-screen-offset="{{slider.fullScreenOffset}}"
                 delay="{{slider.delay}}"
                 disable-progress-bar="{{slider.disableProgressBar}}"
                 start-delay="{{slider.startDelay}}"
                 stop-after-loops="{{slider.stopAfterLoops}}"
                 stop-at-slide="{{slider.stopAtSlide}}"
                 view-port="{{slider.viewPort}}"
                 lazy-type="{{slider.lazyType}}"
                 dotted-overlay="{{slider.dottedOverlay}}"
                 shadow="{{slider.shadow}}"
                 spinner="{{slider.spinner}}"
                 hide-all-caption-at-lilmit="{{slider.hideAllCaptionAtLilmit}}"
                 hide-caption-at-limit="{{slider.hideCaptionAtLimit}}"
                 hide-slider-at-limit="{{slider.hideSliderAtLimit}}"
                 debug-mode="{{slider.debugMode}}"
                 extensions="{{slider.extensions}}"
                 extensionssuffix="{{slider.extensions_suffix}}"
                 fallbacks="{{slider.fallbacks}}"
                 parallax="{{slider.parallax}}"
                 rev-carousel="{{slider.carousel}}"
                 navigation="{{slider.navigation}}"
                 js-file-location="{{slider.jsFileLocation}}"
                 visibility-levels="{{slider.visibilityLevels}}"
                 hide-thumbs-on-mobile="{{slider.hideThumbsOnMobile}}"
                 slides="slider.slides"
                 slider-template-url="../partials/slidetemplate.html">
            </div>
        </div>
    </section>
</div>

<div class="top-well">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h3>Need an estimate or quote request?</h3>
                <p class="home2-sub-txt">All projects vary in size, time, and complexity. Our estimates will give you the closest to a realistic cost.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="#/quote-request/">Request Estimate!</a>
            </div>
        </div>
    </div>
</div>

<div class="section wave">
    <div class="container">
        <div class="row banner-info">
            <div class="col-xs-12"><h2>FOUR SEASONS COVERAGE!</h2></div>
            <div class="col-xs-12 seasons">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="fact-icon">
                        <span class="icon-winter"></span>
                    </div>
                    <h3 class="uppercase">Winter</h3>
                    <p>It's a shame to turn away any business because your parking lot isn’t snow-cleared, or your driveway is not safe to drive on.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="fact-icon fact-icon-color2">
                        <span class="icon-spring"></span>
                    </div>
                    <h3 class="uppercase">Spring</h3>
                    <p>Get an early break on spring by mowing, treating, cleaning, and maintaining your lawn and flower beds.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="fact-icon fact-icon-color3">
                        <span class="icon-summer"></span>
                    </div>
                    <h3 class="uppercase">Summer</h3>
                    <p>Improve your curb appeal by flower planting and mulching. Choose the correct plants according to sun exposure.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="fact-icon fact-icon-color4">
                        <span class="icon-fall"></span>
                    </div>
                    <h3 class="uppercase">Fall</h3>
                    <p>We can deal with mother nature by power raking and blowing your lawn free of debri, fallen leaves, and dead grass. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-improvement">
    <div class="home3-effect-cover"></div>
    <div class="home3-well">
        <div class="container">
            <div class="row row-footer">
                <h2>Home Improvement Services</h2>
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <p class="home3-advert">Buying a house is a great investment, adding value to your house is a <em>smart</em> investment. Generally, your home is very likely to return between $.75 to $ $12 for a every dollar you invest in it.</p>
                    <img class="" src="../images/HInfographic.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="bt-serv"><a class="btn btn-lg btn-primary pull-right" href="#">Contact Us!</a></div>
                    <div class="txt-circle-content first-ic">
                        <div class="fact-icon"><span class="icon-remodeling"></span></div>
                        <div class="txt-circle">
                            <h3>Remodeling</h3>
                            <p>We can help give life again to your outdated rooms. </p>
                        </div>
                    </div>
                    <div class="txt-circle-content">
                        <div class="fact-icon"><span class=" icon-small-repairs"></span></div>
                        <div class="txt-circle">
                            <h3>Repairs</h3>
                            <p>Repairing problems in your home early can save you in a long term.</p>
                        </div>
                    </div>
                    <div class="txt-circle-content">
                        <div class="fact-icon"><span class=" icon-additions"></span></div>
                        <div class="txt-circle">
                            <h3>Additions</h3>
                            <p>Even small additions can add resale value to your home. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section portfolio">
    <div class="container">
        <div class="row img-shadow effect-5">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">Recent <span>Work</span></h1>
                <p class="sub-title">The section below will provide you with some of our latest projects. </p>
            </div>
            <div class="group filter-button-top">
                <ul class="filter group albumFilter">
                    <li ng-click="myFilter = all" class="active">ALL</li>
                    <li ng-click="myFilter = {category: 'remodeling'}">REMODELING</li>
                    <li ng-click="myFilter = {category: 'lawn'}">LAWN CARE</li>
                    <li ng-click="myFilter = {category: 'repairs'}">REPAIRS</li>
                    <li ng-click="myFilter = {category: 'additions'}">ADDITIONS</li>
                </ul>
            </div>

            <div id="cbp-vm" class="activegrid">
                <ul id="product" class="nav-pills nav-stacked rectangle-list" ng-controller="dataImagesWork">
                    <li class="col-md-4 my-gallery-animation-home3" ng-repeat="product in images_work | filter:myFilter">
                        <img ng-src="images/{{product.src}}" alt="{{product.name}}" /><br />
                        <a class="title" href=""> {{product.name}}  </a>
                        <p class="description"> {{product.description}} </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="clients-home3" class="parallax">
    <div class="black-shadow"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 team">
                <div class="col-xs-12 col-sm-6  col-sm-push-3 col-md-4 col-md-push-0">
                    <div class="team-img view view-second">
                        <img src="../images/team/user1.jpg" alt="" />
                        <div class="content">
                            <p>Company Owner and US Army Veteran. When Nick is not yielding a hammer, he is enjoying the company of family and friends.</p>
                        </div>
                        <h4>Nick Hawkings</h4>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="text view-second">
                        <h1 class="section-title">Welcome!</h1>
                        <p>
                            Hello! My name is Nick Hawkings and I want to personally welcome you to our website. We hope you find it informative and that the portfolio samples shown here reflect on the quality of our work. 
                            <br /><br />
                            The photos shown throughout this site show the most common types of projects, however, we have performed work that has been specific and unique. It all depends on you, the client. Give us a call and share your idea and expectations. We will come visually inspect the site, assess the terrain as well as any structure obstruction, and then we will give you a realistic report on the project.  
                            <br /><br />
                            Once you have your report, including the cost, you are welcome to shop around. But we are very confident you will not find better quality of work for a lesser cost.  
                        </p>
                        <p class="personal-phrase">
                            <i class="fa fa-quote-left"></i>
                            Let's make something great!<i class="fa fa-quote-right"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-images">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <img src="../images/VeteranOwnedBusiness2.png" alt="Veteran Owned Business" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 veteran">
                <h2>Veteran Owned Business</h2>
                <p>
                    We are a small Veteran Owned Business and under the same principles of integrity, attention to detail, and mission-driven attitude, we are here to <em>serve you! </em> Here are some things to consider:
                </p>
                <ul>
                    <li>A Veteran's culture is built with mission accomplishment in mind;</li>
                    <li>A Veteran will take his/her responsibilities seriously;</li>
                    <li>Intuition is a skill often gained in military service;</li>
                    <li>A Veteran's welcomes "hard work". No such thing as "easy work";</li>
                    <li>Failure is not acceptable to a Veteran;</li>
                    <li>A Veteran will honor honesty and fairness.</li>
                </ul>
            </div>
        </div>
        <div class="row second-boxfriends">
            <div class="col-xs-12 col-sm-12 col-md-6 bbb">
                <h2>We Are Accredited!</h2>
                <p>
                    Nick &amp; Son's is a Better Business Bureau accredited business. This accreditation may seem superfluous, but it is something you, as a home owner, should consider when investing on the quality and value of your home. Here are some things to consider: 
                </p>
                <ul>
                    <li>Dispute resolution service. BBB Accredited Businesses are required to make a good-faith effort to resolve customer complaints. <a href="http://www.bbb.org/stlouis/for-businesses/about-bbb-accreditation/benefits-of-bbb-accreditation/#sthash.uYaSNQch.dpuf" target="_blank">See more</a>;</li>
                    <li>The Better Business Bureau offers a dependable list of reviews that you can trust;</li>
                    <li>Public records on a BBB Business for fraud investigations are readily available;</li>
                    <li>St. Louis BBB's Buyer’s Alert list of companies who haven’t responded to complaints. <a href="http://www.bbb.org/stlouis/get-consumer-help/bbb-buyers-alert/" target="_blank">See more</a>;</li>
                    <li>Monitoring advertising for truth and accuracy.;</li>
                    <li>and more.</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <img src="../images/bbb.png" alt="Better Business Bureau Accredited Business" />
            </div>
        </div>
    </div>
</div>

<div class="testimonial-footer-bg">
    <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-12 col-md-4 testimonial-title-right">
                        <h1 class="section-title">Our Clients Love Us!</h1>
                        <p class="sub-title">We know we are great, but let's hear it from the horse's mouth.</p>
                    </div>
                    <div id="testimonials" class="col-xs-12 col-sm-12 col-md-8">
                        <div owlcarousel id="owl-demo" class="owl-carousel">
                            <div class="item">
                                <div class="testimon-desc">
                                    <p>Nick &amp; Son's are by far the most <span>hard-working</span> people I have ever hired!</p>
                                    <p>My lawn has never been so <span>beautiful</span> , clean, and perfectly green.</p>
                                    <p class="nm-name">- Brian Stan</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimon-desc">
                                    <p>We had a cold draft coming in through a window that we kept fixing and it kept breaking.</p>
                                    <p>One hone call later, and Nick <span>fixed it</span> permanently! What took me several tries to fix, Nick solved in minutes.</p>
                                    <p class="nm-name">- Mikey Rood</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimon-desc">
                                    <p>We heard from a friend that Nick &amp; Son's were very <span>reliable</span> and provided excellent quality work.</p>
                                    <p>We called them to install French doors in our master's suite and we were  <span>impressed</span> with the final product.</p>
                                    <p class="nm-name">- Robert Muller</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('.filter li').on('click', function () {
        $('li').removeClass('active');
        $(this).addClass('active');
    });

    //$(".container-slide").backstretch([
    //  "../images/slider/main-slider/home-improvement.png"
    //, "../images/slider/main-slider/lawn-care.png"
    //], { duration: 3000, fade: 1000 });

</script>
