<!-- Page Content -->
<div class="container-fluid">
    <div class="rev_slider_wrapper">
        <div id="marketingSlider" class="rev_slider" data-version="5.0">
            <ul>
                <li
                    data-transition="slideup" 
                    data-fstransition="fade" 
                    data-fsmasterspeed="1500" 
                    data-fsslotamount="7" 
                    data-saveperformance="off" 
                    data-title="marketing Strategies" 
                    data-description="" >
                    <img src="../img/banner/marketing.png" alt="Web Marketing" width="1920" height="1080" 
                         data-bgposition="center center" 
                         data-bgfit="cover" 
                         data-bgrepeat="no-repeat" 
                         data-bgparallax="2"
                         class="rev-slidebg" 
                         data-no-retina >
                    
                    <!-- LAYER NR. 1 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption tp-shape tp-shapewrapper hero-overlay" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','0','0']" 
                                     data-width="full" 
                                     data-height="full" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="s:300;s:300;" 
                                     data-start="750" 
                                     data-basealign="slide" 
                                     data-responsive_offset="on" 
                                     data-responsive="off"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- LAYER NR. 3 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <h1 class="tp-caption NotGeneric-Title tp-resizeme hero-header" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','-48','-29']" 
                                     data-fontsize="['70','70','50','36']" 
                                     data-lineheight="['70','70','50','36']" 
                                     data-width="['none','none','754','none']" 
                                     data-height="none" 
                                     data-whitespace="['nowrap','nowrap','normal','nowrap']" 
                                     data-color="#fff"
                                     data-transform_idle="o:1;" 
                                     data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1000" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on">
                                     MARKETING STRATEGIES 
                                </h1>
                            </div>
                        </div>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme"
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['51','52','28','13']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-color="#fff"
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1000" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on">
                                     WITH THE END USER IN MIND 
                                </div>
                            </div>
                        </div>
                    </div>
 
                    <!-- LAYER NR. 5 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-CallToAction rev-btn noSwipe rs-hover-ready" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['124','124','80','65']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" 
                                     data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(70, 109, 178, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;" 
                                     data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1250" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-actions='[{"event":"click",
                                       "action":"simplelink",
                                       "target":"_self",
                                       "url":"/quote-request"}]'
                                     data-responsive_offset="on" 
                                     data-responsive="off"
                                     style="z-index: 11;
                                        white-space: nowrap;
                                        letter-spacing: 1px;
                                        visibility: inherit;
                                        transition: none;
                                        border-radius: 0px;
                                        font-style: normal;
                                        text-decoration: none;
                                        border: 0px none rgb(0, 0, 0);
                                        line-height: 48px;
                                        margin: 0px;
                                        color:#fff;
                                        padding: 0px 40px;
                                        font-weight: 600;
                                        font-size: 16px;
                                        min-height: 0px;
                                        min-width: 0px;
                                        max-height: none;
                                        max-width: none;
                                        opacity: 1;
                                        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                        transform-origin: 50% 50% 0px;">
                                    I NEED THIS 
                                </div>
                            </div>
                        </div>
                    </div>
 
                </li>
            </ul>				
        </div>
    </div>
</div>
<div class="section-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="h1 section-title">Marketing Strategies To Promote Growth</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>Web marketing is a form of advertisement that is conveyed through the use of websites, social networks, branding strategies, and print design. More about web marketing and digital marketing can be found here. According to TMP/comScore, 90% of local shoppers look online first, and 82% of them contact a business after they found it online. What this means to you is, right now, as we speak, there is someone looking for your product or service; and you may not be there to help. No one will drive aimlessly around town hoping to find what they are looking for. For this very important reason, it is imperative you are listed online as a business open for business and your website conveys the information correctly to attract that shopper.
                <br/><br/> 
                Web marketing makes sure you are seen, but most importantly, it applies initiatives to improve your chances to make better leads and eventually – sales.
                <br/><br/> 
                In addition, merely having a strong online presence does not necessarily mean you will turn every visitor into a lead or buyer. There are many angles to cover for this to succeed more effectively. This is why it is so important your logo represents your business correctly, your business cards match your brand, and you are spending a considerable amount of effort and focus on providing informative prints through direct mail or hand-to-hand.</p>
            </div>
        </div>
        
        <hr>
        
        <div class="row">
            <div class="col-xs-12">
                <h3 class="h1 section-title">Marketing Guided Graphic Designs</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>At some point in your web marketing strategies you may need to expand beyond your website and social media interaction. Social media and web marketing are vital to a business marketing plan, however, it is always wise to be able to provide your customers with an elegant information pamphlet, a descriptive and illustrated menu that is worthy of your amazing cuisine, a flyer advertising your greatest concert, etc. Perhaps you need custom made shopping bags, or a new uniform, or something even as simple as a business card that does the talking for you. Whatever your needs are for your print designs, we have graphic designers and clothing designers standing by.</p>
            </div>
            
            <div id="designscarousel" class="col-xs-12">
                <div designcarousel id="owl-demo" class="owl-carousel">
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/bag.jpg" alt="Bag Design"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/Business-cards.png" alt="Bag Design"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/branding.png" alt="Bag Design"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/flyer.png" alt="Bag Design"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/trifold_inside.png" alt="Bag Design"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/trifold_outside.png" alt="Bag Design"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/uniform.png" alt="Bag Design"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimon-desc">
                            <img src="../img/Wall-Sign.jpg" alt="Bag Design"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

