

<div class="section-light">
    <div class="container">
        <div class="row quote-request-form">
            <div class="col-xs-12" ng-controller="form">
                <h1 class="section-title">Let's Get Started!</h1>

                <p class="contact-sub-txt">Use the form below only for the purpose of requesting a quote for work you need. For all other general questions please refer to our <a href="#/contact">Contact Form</a> page.</p>

                <div class="alert alert-info clearfix">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                        <i class="fa fa-info fa-fw info-icon"></i>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11">
                        <h4>Disclaimer</h4>
                        <em>All projects vary in different size and complexity. In many cases, we can't accuartely assess the problem until it is visually inspected. However, this quote will give us a general idea of the problem and will help us prepare until we can inspect your current site or gather the requirement for a brand new design.</em>
                    </div>
                </div>

                <form id="quote-form" name="QuoteForm" role="form" method="POST" action="quote-form.php" ng-submit="submitForm(QuoteForm.$valid)" novalidate>
                    <span class="notice">All fields marked required <span class="required">*</span> mut be filled out.</span>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-3" ng-class="{ 'has-error' : QuoteForm.quote_name.$invalid && !QuoteForm.quote_name.$pristine }">
                            <label for="quote_name">Name <span class="required">*</span></label>
                            <input type="text" name="quote_name" placeholder="e.g. Jhon Smith" class="form-control form-control-success" id="quote_name" ng-model="name" ng-required="true">
                            <p ng-show="QuoteForm.quote_name.$invalid && !QuoteForm.quote_name.$pristine" class="help-block">You name is required.</p>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-3" ng-class="{ 'has-error' : QuoteForm.quote_company.$invalid && !QuoteForm.quote_company.$pristine }">
                            <label for="quote_company">Company Name <span class="required">*</span></label>
                            <input type="text" name="quote_company" placeholder="e.g. Angu Studio" class="form-control form-control-success" id="quote_company" ng-model="company" ng-required="true">
                            <p ng-show="QuoteForm.quote_company.$invalid && !QuoteForm.quote_company.$pristine" class="help-block">You company name is required.</p>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-3" ng-class="{ 'has-error' : QuoteForm.quote_email.$invalid && !QuoteForm.quote_email.$pristine }">
                            <label for="quote_email">Email Address <span class="required">*</span></label>
                            <input type="email" name="quote_email" placeholder="e.g. mail@example.com" class="form-control form-control-success" id="quote_email" ng-model="email" ng-required="true">
                            <p ng-show="QuoteForm.quote_email.$invalid && !QuoteForm.quote_email.$pristine" class="help-block">Enter a valid email.</p>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-3" ng-class="{ 'has-error' : QuoteForm.quote_phone.$invalid && !QuoteForm.quote_phone.$pristine }">
                            <label for="quote_phone">Phone Number <span class="required">*</span></label>
                            <input type="phone" name="quote_phone" placeholder="e.g. 555-945-0090" class="form-control form-control-success" id="quote_phone" ng-minlength="10" ng-maxlength="10" ng-model="phone" ng-required="true" ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\d{3}[- ]?\d{3}[- ]?\d{4}$/">
                            <p ng-show="QuoteForm.quote_phone.$error.pattern" class="help-block">Phone number is invalid.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-3">
                            <label for="quote_address">Address <span class="required">*</span></label>
                            <input type="text" name="quote_address" placeholder="e.g. 12 E. Main St" class="form-control form-control-success" id="quote_address">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-3 has-success">
                            <label for="quote_city">City <span class="required">*</span></label>
                            <input type="text" name="quote_city" placeholder="e.g. Harrisburg" class="form-control form-control-success" id="quote_city">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-3 has-success">
                            <label for="quote_state">State <span class="required">*</span></label>
                            <select id="quote_state" name="quote_state" class="form-control form-control-success">
                                <option>Select One</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-3 has-success">
                            <label for="quote_zip">Zip <span class="required">*</span></label>
                            <input type="text" name="quote_zip" placeholder="e.g. 23456" class="form-control form-control-success" id="quote_zip">
                        </div>
                    </div>
                    <h4>Links to other websites that inspired me</h4>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-3 has-success">
                            <label for="quote_link1">Link 1 </label>
                            <input type="text" name="quote_link1" placeholder="e.g. www.coolwebsite1.com" class="form-control form-control-success" id="quote_link1">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-3 has-success">
                            <label for="quote_link2">Link 2 </label>
                            <input type="text" name="quote_link2" placeholder="e.g. www.coolwebsite1.com" class="form-control form-control-success" id="quote_link2">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-3 has-success">
                            <label for="quote_link3">Link 3 </label>
                            <input type="text" name="quote_link3" placeholder="e.g. www.coolwebsite1.com" class="form-control form-control-success" id="quote_link3">
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-3 has-success">
                            <label for="quote_link4">Link 4 </label>
                            <input type="text" name="quote_link4" placeholder="e.g. www.coolwebsite1.com" class="form-control form-control-success" id="quote_link4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12" ng-class="{ 'has-error' : QuoteForm.quote_details.$invalid && !QuoteForm.quote_details.$pristine }">
                            <label for="quote_details">Project Details</label>
                            <textarea name="quote_details" class="form-control" rows="12" id="quote_details" ng-model="text" ng-minlength="20" ng-required="true"></textarea>
                            <p ng-show="QuoteForm.quote_details.$error.minlength" class="help-block">Your project details must be longer than 20 characters.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input type="hidden" name="save" value="contact">
                            <button type="submit" class="btn btn-primary bt-contact-submit" ng-disabled="QuoteForm.$invalid">Submit</button>
                            <p class="success">Your message has been sent successfully.</p>

                            <p class="error">E-mail must be valid or message must be longer than 20 characters.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>