<!-- Page Content -->
<div class="services top-img">
    <div class="effect-over"></div>
    <div class="container">
        <div class="col-xs-12">
            <h1 class="title">To get extraordinary <span class="color-txt">results</span>,</h1>
            <h1 class="top-title top-second">you need <span class="color-txt">extraordinary </span>help.</h1>
            <div class="buy-button"><a class="btn btn-lg btn-primary" href="#">Call now! </a></div>
        </div>
    </div>
</div>

<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="services-box col-xs-12 col-sm-6 col-md-6 active">
            <div class="img">
                <img src="../images/services/lawn-care.png" alt="Lawn Care" class="img_size1">
            </div>
            <div class="text">
                <h3>LAWN CARE</h3>
                <div class="line"></div>
                <p class="grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</p>
            </div>
        </div>
        <div class="services-box col-xs-12 col-sm-6 col-md-6">
            <div class="img">
                <img src="../images/services/home-improvement.png" alt="Home Improvement" class="img_size1">
            </div>
            <div class="text">
                <h3>HOME IMPROVEMENT</h3>
                <div class="line"></div>
                <p class="grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2 class="section-title page-header text-center"><span>WHY CHOOSE US?</span></h2>
            <div ng-controller="TabsDemoCtrl" class="services-tabs">
                <tabset class="" justified="true">
                    <tab class="nav-item">
                        <tab-heading class="tabs-nm">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bolt text-white fa-stack-1x"></i>
                            </span>
                            <span class="hidden-sm-down">Fast Service</span>
                        </tab-heading>
                        <div class="info-tabs clearfix">
                            <div class="servtabs-img"><img src="../images/services/fast-mowing.jpg" alt="Fast Service" /></div>
                            <div class="servtabs-txt">
                                <h3>Getting things done fast</h3>
                                <p>
                                    Wurpis venenatis at laoreet consectetur, adipisci velit, sed quia non numquam minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                                </p>
                            </div>
                        </div>
                    </tab>
                    <tab class="nav-item">
                        <tab-heading class="tabs-nm">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-thumbs-o-up text-white fa-stack-1x"></i>
                            </span>
                            <span class="hidden-sm-down">Reliability</span>
                        </tab-heading>
                        <div class="info-tabs clearfix">
                            <div class="servtabs-img"><img src="../images/services/reliability.png" alt="Reliability" /></div>
                            <div class="servtabs-txt">
                                <h3>You can count on us.</h3>
                                <p>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum
                                </p>
                            </div>
                        </div>
                    </tab>
                    <tab class="nav-item">
                        <tab-heading class="tabs-nm">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-star text-white fa-stack-1x"></i>
                            </span>
                            <span class="hidden-sm-down">Experience</span>
                        </tab-heading>
                        <div class="info-tabs clearfix">
                            <div class="servtabs-img"><img src="../images/services/landscaping.png" alt="Experience" /></div>
                            <div class="servtabs-txt">
                                <h3>Doing it right the first time</h3>
                                <p>
                                    Lorem ipsum libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                </p>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>

    <div class="row last-inf-dt">

        <div class="col-xs-12">
            <h2 class="page-header">Our Services</h2>
        </div>
        <div class="inner-row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <img class="img-responsive" src="../images/services/mowing.png" alt="mowing services">
                <div class="services-box-black">
                    <h3>Mowing/Edging</h3>
                    <ul>
                        <li>Service one description. </li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>consectetur </li>
                        <li>adipiscing elit</li>
                        <li>Nunc placerat diam</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
                <img class="img-responsive" src="../images/services/fall-cleanup.png" alt="fall cleanup">
                <div class="services-box-black">
                    <h3>Fall Cleanup/De-grassing</h3>
                    <ul>
                        <li>Service one description. </li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>consectetur </li>
                        <li>adipiscing elit</li>
                        <li>Nunc placerat diam</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
                <img class="img-responsive" src="../images/services/snow-clearing.png" alt="snow clearing">
                <div class="services-box-black">
                    <h3>Snow Clearing/Salting</h3>
                    <ul>
                        <li>Service one description. </li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>consectetur </li>
                        <li>adipiscing elit</li>
                        <li>Nunc placerat diam</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="inner-row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <img class="img-responsive" src="../images/services/repair.png" alt="Home Repairs">
                <div class="services-box-black">
                    <h3>Home Repairs</h3>
                    <ul>
                        <li>Service one description. </li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>consectetur </li>
                        <li>adipiscing elit</li>
                        <li>Nunc placerat diam</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
                <img class="img-responsive" src="../images/services/additions.png" alt="Home Additions">
                <div class="services-box-black">
                    <h3>Home Additions</h3>
                    <ul>
                        <li>Service one description. </li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>consectetur </li>
                        <li>adipiscing elit</li>
                        <li>Nunc placerat diam</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
                <img class="img-responsive" src="../images/services/reno.png" alt="Renovations">
                <div class="services-box-black">
                    <h3>Renovations</h3>
                    <ul>
                        <li>Service one description. </li>
                        <li>Lorem ipsum dolor sit amet,</li>
                        <li>consectetur </li>
                        <li>adipiscing elit</li>
                        <li>Nunc placerat diam</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
