<!-- Page Content -->
<div class="container-fluid">
    <div class="rev_slider_wrapper">
        <div id="socialSlider" class="rev_slider" data-version="5.0">
            <ul>
                <li
                    data-transition="slideup" 
                    data-fstransition="fade" 
                    data-fsmasterspeed="1500" 
                    data-fsslotamount="7" 
                    data-saveperformance="off" 
                    data-title="marketing Strategies" 
                    data-description="" >
                    <img src="../img/banner/marketing.png" alt="Web Marketing" width="1920" height="1080" 
                         data-bgposition="center center" 
                         data-bgfit="cover" 
                         data-bgrepeat="no-repeat" 
                         data-bgparallax="2"
                         class="rev-slidebg" 
                         data-no-retina >
                    
                    <!-- LAYER NR. 1 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption tp-shape tp-shapewrapper hero-overlay" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','0','0']" 
                                     data-width="full" 
                                     data-height="full" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="s:300;s:300;" 
                                     data-start="750" 
                                     data-basealign="slide" 
                                     data-responsive_offset="on" 
                                     data-responsive="off"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- LAYER NR. 3 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <h1 class="tp-caption NotGeneric-Title tp-resizeme hero-header" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','-48','-29']" 
                                     data-fontsize="['70','70','50','36']" 
                                     data-lineheight="['70','70','50','36']" 
                                     data-width="['none','none','754','none']" 
                                     data-height="none" 
                                     data-whitespace="['nowrap','nowrap','normal','nowrap']" 
                                     data-color="#fff"
                                     data-transform_idle="o:1;" 
                                     data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1000" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on">
                                     SOCIAL NETWORKING 
                                </h1>
                            </div>
                        </div>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme"
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['51','52','28','13']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-color="#fff"
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1000" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on"
                                     style="text-transform:uppercase;">
                                     INCREASE YOUR SOCIAL ENGAGEMENT AND PROFESSIONAL PRESENCE
                                </div>
                            </div>
                        </div>
                    </div>
 
                    <!-- LAYER NR. 5 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-CallToAction rev-btn noSwipe rs-hover-ready" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['124','124','80','65']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" 
                                     data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(70, 109, 178, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;" 
                                     data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1250" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-actions='[{"event":"click",
                                       "action":"simplelink",
                                       "target":"_self",
                                       "url":"#/quote-request"}]'
                                     data-responsive_offset="on" 
                                     data-responsive="off"
                                     style="z-index: 11;
                                        white-space: nowrap;
                                        letter-spacing: 1px;
                                        visibility: inherit;
                                        transition: none;
                                        border-radius: 0px;
                                        font-style: normal;
                                        text-decoration: none;
                                        border: 0px none rgb(0, 0, 0);
                                        line-height: 48px;
                                        margin: 0px;
                                        color:#fff;
                                        padding: 0px 40px;
                                        font-weight: 600;
                                        font-size: 16px;
                                        min-height: 0px;
                                        min-width: 0px;
                                        max-height: none;
                                        max-width: none;
                                        opacity: 1;
                                        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                        transform-origin: 50% 50% 0px;">
                                    I NEED THIS 
                                </div>
                            </div>
                        </div>
                    </div>
 
                </li>
            </ul>				
        </div>
    </div>
</div>

<div class="section-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="h1 section-title">Be Social...Very Social!</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 marbot20 text-center">
                <img src="../img/social-networks-users-2016.png" alt="Social Networks">
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p>Social networks have increased exponentially in popularity over the past 10 to 15 years. Facebook, for example, if it was a country, it would be the largest country in the world. Leading the pack with 1,550 Million active users, there is no doubt Facebook is a very large audience. (See Image)
                <br/><br/> 
                However, as enticing as it may sound, marketing through Facebook may not be the most suitable venue to reach your targeted market. Many Business-to-Business organizations find Linkedin a more efficient way to reach their clients. For bloggers or photographers, Pinterest is an amazing conductor and powerlink tool to their website's gallery or articles.
                <br/><br/>  
                Regardless of which one(s) you choose, your representation must be impeccable and concise. Your advertisement and campaign must target the right audience group, be displayed at the right time, and the correct information must be conveyed with supportive visual aid, such as an image, an infographic, or a video. 
                <br/><br/>  
                At the very least, your company profile must be updated and displayed with professional graphics, logo, company information, and a forward link to your website.
               </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">        
                <h4>These are some of the benefits of professional social marketing</h4>
                <ul class="list">
                    <li>Structure and deployment of strategized campaigns.</li>
                    <li>Professional graphic design and branding.</li>
                    <li>Carefully planned and designed status updates.</li>
                    <li>Increased followers, likes, and/or fans.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3"> 
                <div class="text-center">
                    <a class="btn btn-primary" href="#/quote-request"> Get A Quote </a>
                    <span class="btn btn-primary"> (717) 945-8132 </span>
                </div>
            </div>
        </div>

    </div>
</div>
