<!-- Page Content -->
<div class="container-fluid">
    <div class="rev_slider_wrapper">
        <div id="maintenanceSlider" class="rev_slider" data-version="5.0">
            <ul>
                <li
                    data-transition="slideup" 
                    data-fstransition="fade" 
                    data-fsmasterspeed="1500" 
                    data-fsslotamount="7" 
                    data-saveperformance="off" 
                    data-title="Beautiful Web Design" 
                    data-description="" >
                    <img src="../img/banner/web-services.jpg" alt="Web Services" width="1920" height="1080" 
                         data-bgposition="center center" 
                         data-bgfit="cover" 
                         data-bgrepeat="no-repeat" 
                         data-bgparallax="2"
                         class="rev-slidebg" 
                         data-no-retina >
                    
                    <!-- LAYER NR. 1 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption tp-shape tp-shapewrapper hero-overlay" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','0','0']" 
                                     data-width="full" 
                                     data-height="full" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="s:300;s:300;" 
                                     data-start="750" 
                                     data-basealign="slide" 
                                     data-responsive_offset="on" 
                                     data-responsive="off"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- LAYER NR. 3 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <h1 class="tp-caption NotGeneric-Title tp-resizeme hero-header" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['0','0','-48','-29']" 
                                     data-fontsize="['70','70','50','36']" 
                                     data-lineheight="['70','70','50','36']" 
                                     data-width="['none','none','754','none']" 
                                     data-height="none" 
                                     data-whitespace="['nowrap','nowrap','normal','nowrap']" 
                                     data-color="#fff"
                                     data-transform_idle="o:1;" 
                                     data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1000" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on">
                                     WEB MAINTENANCE
                                </h1>
                            </div>
                        </div>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme"
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['51','52','28','13']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-color="#fff"
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1000" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-responsive_offset="on">
                                     OUT WITH THE OLD, IN WITH THE NEW
                                </div>
                            </div>
                        </div>
                    </div>
 
                    <!-- LAYER NR. 5 -->
                    <div class="tp-parallax-wrap">
                        <div class="tp-loop-wrap">
                            <div class="tp-mask-wrap">
                                <div class="tp-caption NotGeneric-CallToAction rev-btn noSwipe rs-hover-ready" 
                                     data-x="['center','center','center','center']" 
                                     data-hoffset="['0','0','0','0']" 
                                     data-y="['middle','middle','middle','middle']" 
                                     data-voffset="['124','124','80','65']" 
                                     data-fontweight="['600','500','500','500']" 
                                     data-width="none" 
                                     data-height="none" 
                                     data-whitespace="nowrap" 
                                     data-transform_idle="o:1;" 
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" 
                                     data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(70, 109, 178, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;" 
                                     data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" 
                                     data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                     data-start="1250" 
                                     data-splitin="none" 
                                     data-splitout="none" 
                                     data-actions='[{"event":"click",
                                       "action":"simplelink",
                                       "target":"_self",
                                       "url":"#/quote-request"}]'
                                     data-responsive_offset="on" 
                                     data-responsive="off"
                                     style="z-index: 11;
                                        white-space: nowrap;
                                        letter-spacing: 1px;
                                        visibility: inherit;
                                        transition: none;
                                        border-radius: 0px;
                                        font-style: normal;
                                        text-decoration: none;
                                        border: 0px none rgb(0, 0, 0);
                                        line-height: 48px;
                                        margin: 0px;
                                        color:#fff;
                                        padding: 0px 40px;
                                        font-weight: 600;
                                        font-size: 16px;
                                        min-height: 0px;
                                        min-width: 0px;
                                        max-height: none;
                                        max-width: none;
                                        opacity: 1;
                                        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                        transform-origin: 50% 50% 0px;">
                                    I NEED THIS 
                                </div>
                            </div>
                        </div>
                    </div>
 
                </li>
            </ul>				
        </div>
    </div>
</div>

<div class="section-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="h1 section-title">Let's Keep Those Gears Turning</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <img src="../img/Maintenance.png" alt="Web Maintenace">
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p>Our Maintenance Packages are extremely popular with all our clients. The peace of mind alone that they provide is priceless. In fact, we are going to let one of our clients speak for us. </p>
                <blockquote class="blockquote">
                    "I would like to say that hiring LOTUS Marketing Solutions LLC for my Web Page design and maintaining my web Page is one of the best decisions I ever made during my 16 years of running my company, VisionSpec Home Inspection. It is a pleasure to work with Louis Silva, when I had minor issues they were always taken care of promptly and did not have to wonder if the issue was going to be corrected!!! I highly recommend LOTUS Marketing Solutions!!!"
                    <p class="author">George Hart - VisionSpec Home</p>
                </blockquote>
                
            </div>
        </div>
        
        
        <div class="row price-chart">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h4>Basic</h4>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$40.
                            <span class="price-cents">00</span>
                            <span class="price-month">/mo.</span>
                        </h3>
                        <p class="pi-italic">Web Code Maintenance</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Mainframe Upgrades</li>
                        <li class="list-group-item">Code Update/Upgrade</li>
                        <li class="list-group-item">Sitemap Update</li>
                        <li class="list-group-item">Plugins/Queries Upgrade</li>
                        <li class="list-group-item empty"></li>
                        <li class="list-group-item"><a href="#/contact" class="btn btn-primary">Contact Us!</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h4>Plus <span class="label label-danger">Best Value!</span></h4>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$50.
                            <span class="price-cents">00</span>
                            <span class="price-month">/mo.</span>
                        </h3>
                        <p class="pi-italic">Web Code &amp; Content Maintenance</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Mainframe Upgrades</li>
                        <li class="list-group-item">Code Update/Upgrade</li>
                        <li class="list-group-item">Sitemap Update</li>
                        <li class="list-group-item">Plugins/Queries Upgrade</li>
                        <li class="list-group-item">Content Update/Styles</li>
                        <li class="list-group-item"><a href="#/contact" class="btn btn-primary">Contact Us!</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h4>Premium</h4>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$100.
                            <span class="price-cents">00</span>
                            <span class="price-month">/mo.</span>
                        </h3>
                        <p class="pi-italic">e-Commerce Web Maintenance</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">All Plus Services</li>
                        <li class="list-group-item">Database Maintenance</li>
                        <li class="list-group-item">Store features Upgrades</li>
                        <li class="list-group-item">Security Maintenance</li>
                        <li class="list-group-item">Content Update/Styles</li>
                        <li class="list-group-item"><a href="#/contact" class="btn btn-primary">Contact Us!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3"> 
                <div class="text-center">
                    <a class="btn btn-primary" href="#/quote-request"> Get A Quote </a>
                    <span class="btn btn-primary"> (717) 945-8132 </span>
                </div>
            </div>
        </div>
    </div>
</div>
