@import "helpers/custom-mixins";
@import "helpers/custom-variables";

.text-white{
    color:$white-base;
}

.page-header {
    margin: 80px 0 20px;
}

.uppercase {
	text-transform: uppercase;
}
.text-underline{
    text-decoration:underline;
}
.text-bold{
    font-weight:700;
}
.excess{
    display:inline-block;
    height:200px;
}